<section class="aboutSection">

    <div class="typewriter">
        <h1>The cat and the hat.</h1>
    </div>

    <div id="demo" class="animation-container">
        <div class="clip-path"></div>
        <div class="sequence"></div>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam
        malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
    </div>
</section>