<section class="aboutSection">
    <div class="animation-container">
        <div class="sequence"></div>
        {{!-- <img class="cat" src="images/about/cat-min.svg" alt="Cat using laptop computer" /> --}}
        <img class="cat" src="images/about/cat-single-041.svg" alt="Cat using laptop computer" />
    </div>
</section>