<section class="aboutSection">
    <div class="typewriter">
        <h1>Konichiwa(hello).</h1>
    </div>

    <div class="animation-container">
        <div class="sequence"></div>
        <div class="greetings-wrap">
            <div class="clip-path"></div>
            <p class="greetings">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                Nullam
                malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
            </p>
        </div>
    </div>

    <div class="matchSection">
        <a id="launchMatch" href="/match">See Our Match</a>
    </div>
</section>