<header class="nav">
    {{#each data.menuItems}}
    <button class="button">
        {{!-- <img class="icon" src="images/nav/{{this.icon}}.svg" alt="{{this.name}}"> --}}
        {{this.name}}
    </button>
    {{/each}}
</header>