<section class="dd-container">
    <div class="header">
        <h1 class="heading">{{title}} Skills</h1>
        <p>
            When you look for a developer, what skills do you expect
            most? What do you expect least?
        </p>
        <p>
            Drag & sort to rank the following skills in order. Click
            Submit to compare to mine.
        </p>
    </div>

    <div class="spots">
        <div class="spot" data-position="0">
            <div class="tag" draggable="true" data-element="0">
                <span class="text">CSS and Preprocessros</span>
            </div>
        </div>
        <div class="spot" data-position="1">
            <div class="tag" draggable="true" data-element="1">
                <span class="text">Office Politics</span>
            </div>
        </div>
        <div class="spot" data-position="2">
            <div class="tag" draggable="true" data-element="2">
                <span class="text">Nodejs</span>
            </div>
        </div>
        <div class="spot" data-position="3">
            <div class="tag" draggable="true" data-element="3">
                <span class="text">JavaScript Frameworks</span>
            </div>
        </div>
        <div class="spot" data-position="4">
            <div class="tag" draggable="true" data-element="4">
                <span class="text">Vanilla JavaScript</span>
            </div>
        </div>
        <div class="spot" data-position="5">
            <div class="tag" draggable="true" data-element="5">
                <span class="text">French</span>
            </div>
        </div>
    </div>
</section>