.aboutSection {
    padding-top: 120px;

    .animation-container {
        background: url("/images/about/cat-single-041.svg") center no-repeat;
        background-size: contain;
        color: $vivid-lime;
        height: 366px;
        margin: 0 auto;
        max-width: 680px;
        position: relative;
        width: 100%;
    }

    .clip-path {
        float: left;
        height: 425px;
        width: 498px;
        shape-outside: polygon(
            72.92% 0px,
            91.57% 15.65%,
            93.51% 27%,
            89.52% 36.8%,
            96.53% 51.52%,
            96.67% 63.39%,
            100.18% 67.3%,
            99.37% 72.06%,
            79.94% 86.94%,
            51.82% 85.79%,
            49.47% 0.26%
        );
    }

    .sequence {
        animation: typing 1.1s steps(12, end) infinite;
        // background: url("/images/about/action-sequence-min.svg") 0 0 no-repeat;
        background: url("/images/about/cat-action-export-051.svg") 0 0 no-repeat;
        background-size: cover;
        height: 300px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 320px;
    }

    .cat {
        // width: 320px;
    }

    @keyframes typing {
        100% {
            background-position: 0 -4320px;
            // background-position: 0 -3456px;
        }
    }

    .typewriter {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 410px;
    }
    /* DEMO-SPECIFIC STYLES */
    .typewriter h1 {
        font-family: monospace;
        font-size: 2rem;
        color: $vivid-lime;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 1.25rem solid $vivid-lime; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0.15em;
        // animation: typing__ 3.5s steps(26, end),
        animation: typing__ 2s steps(20, end),
            blink-caret 0.75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing__ {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: $vivid-lime;
        }
    }
}
