//nav.scss
@keyframes paintLogo {
    0% {
        fill: transparent;
    }
    100% {
        fill: $themeColor;
    }
}

//about.scss
@keyframes slideTextIn {
    0% {
        opacity: 1;
        transform: translateX(100%);
    }
    16% {
        transform: translateX(-12.27%);
    }
    28% {
        transform: translateX(13.12%);
    }
    44% {
        transform: translateX(-4.63%);
    }
    59% {
        transform: translateX(1.64%);
    }
    73% {
        transform: translateX(-0.58%);
    }
    88% {
        transform: translateX(0.2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes coding {
    100% {
        background-position: 0 -4320px;
        // background-position: 0 -3456px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkCursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}
