.nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    justify-content: space-between;
    border-bottom: 2px solid #000;

    path {
        stroke: #4f89c8;
        stroke-width: 1;
        stroke-dasharray: 816;
        stroke-dashoffset: 816;
        animation: offset 2s linear forwards, fill-it 1s 2s forwards;
    }
    .logo-text {
        animation: fill-it 2s 2s forwards;
    }

    .nav-left {
        flex: 0 0 150px;
        height: 45px;
        .logo {
            transform: scale(0.5);
            transform-origin: top left;
        }
    }

    .nav-right {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 calc(100% - 150px);
        justify-content: flex-end;
        .social-links {
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 100px;
            img {
                width: 30px;
            }
        }
        .menu-items {
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 50%;
            justify-content: flex-end;
        }
        .button {
            flex: 0 0 120px;
            align-items: center;
            background: $yellow;
            border: none;
            box-shadow: 5px 5px 0 #000;
            display: flex;
            font-size: $fontMenuItem;
            font-weight: bold;
            flex-flow: column nowrap;
            height: 40px;
            justify-content: center;
            margin: 0 6px;
            padding: 0 1rem;
            width: 120px;

            &:hover {
                cursor: pointer;
            }

            .icon {
                height: 35px;
                margin-bottom: 0.25rem;
            }
        }
    }
}

@keyframes offset {
    0% {
        stroke-dashoffset: 816;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes fill-it {
    0% {
        fill: transparent;
    }
    100% {
        fill: #4f89c8;
    }
}
